@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Traveling_Nerds.Models.Posting

<h2>Add a new Post</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.Hidden("@ViewBag.ImageId")

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Author)
    @Html.EditorFor(model => model.Author)

    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @*@Html.Hidden(Model.Date.Now)*@

    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to Location Details", "Details", "Location");


