@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model ICollection<Traveling_Nerds.Models.Location>



@*@if (User.IsSignedIn())
{
    <p>@Html.ActionLink("Search", "Index", "Location")</p>
    <p>@Html.ActionLink("Add location", "Create", "Location")</p>
    <p>Hello @User.GetUserName()!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />

        
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}*@

<h4>Here are all of Locations:</h4>

@foreach (var locationList in Model)
{
    <img src=@Html.DisplayFor(model => locationList.Image) />
}
