@model Traveling_Nerds.Models.Location


@{
    ViewData["Title"] = "Search Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.weather').click(function () {
            $.ajax({
                type: 'GET',
                data: { location: "@Model.Name" },
                url: '@Url.Action("GetWeather")',
                success: function (result) {
                    $('#result').html(result);
                }
            });
        });
    });
</script>


<p>@Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) | @Html.ActionLink("Back Home", "Index", "Account") | @Html.ActionLink("Delete", "Delete", new { id = Model.LocationId })</p>

<div class="parallax-container">
    <div class="parallax"><img src=@Html.DisplayFor(model => model.Image)></div>
    <div class="caption center-align">
        <h3> @Html.DisplayFor(model => model.Name)</h3>
    </div>
</div>

<div class="section white">
    <div class="row container">   
        <h4 class="weather">Weather Forecast</h4>
        <div id="result"></div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src=@Html.DisplayFor(model => model.Image)></div>
    <div class="caption center-align">
        <h3> @Html.DisplayFor(model => model.Name)</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
    </div>
</div>
<div class="section-white">
    <div class="row container">
        <p>@Html.ActionLink("Add new Posting", "Create", "Posting", new { id = Model.LocationId })</p>
        @if (Model.Postings.Count != 0)
        {
            @foreach (var posting in Model.Postings)
            {
                <p>@Html.DisplayFor(model => posting.Title)</p>
                <p>@Html.DisplayFor(model => posting.Author)</p>
                <p>@Html.DisplayFor(model => posting.Date)</p>
                <img src=@Html.DisplayFor(model => posting.Image) />
                <p>@Html.DisplayFor(model => posting.Description)</p>
                <br />
                <p>@Html.ActionLink("Edit Posting", "Edit", "Posting", new { id = posting.PostingId })</p>
                <p>@Html.ActionLink("Delete", "Delete", "Posting", new { id = posting.PostingId })</p>

                <hr />
                <p>@Html.ActionLink("Add new comment", "Create", "Comment", new { id = posting.PostingId })</p>
                @if (posting.Comments.Count != 0)
                {
                    @foreach (var comment in posting.Comments)
                    {
                        <p>@Html.DisplayFor(model => comment.Author)</p>
                        <p>@Html.DisplayFor(model => comment.Date)</p>
                        <p>@Html.DisplayFor(model => comment.Content)</p>
                        <p>@Html.ActionLink("Edit comment", "Edit", "Comment", new { id = comment.CommentId })</p>
                        <p>@Html.ActionLink("Delete", "Delete", "Comment", new { id = comment.CommentId })</p>
                    }
                }
                else
                {
                    <p>There are no Comments!</p>

                }

            }
        }
        else
        {
            <p>There are no postings for this Location!</p>
        }
    </div>
</div>
