@model Traveling_Nerds.Models.Location


@{
    ViewData["Title"] = "Search Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>


<p>@Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) | @Html.ActionLink("Back Home", "Index", "Account")</p>
<hr />
<div class="parallax-container">
    <div class="parallax"><img src=@Html.DisplayFor(model => model.Image)></div>
    <div class="caption center-align">
        <h3> @Html.DisplayFor(model => model.Name)</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
    </div>
</div>

<div class="section white">
    <div class="row container">
        <p>@Html.ActionLink("Add new Posting", "Create", "Posting", new { id = Model.LocationId })</p>
        @if (Model.Postings.Count != 0)
        {
            @foreach (var posting in Model.Postings)
            {
                <p>@Html.DisplayFor(model => posting.Title)</p>
                <p>@Html.DisplayFor(model => posting.Author)</p>
                <p>@Html.DisplayFor(model => posting.Date)</p>
                <p>@Html.DisplayFor(model => posting.Image)</p>
                <p>@Html.DisplayFor(model => posting.Description)</p>

                <hr />
                @if (posting.Comments.Count != 0)
                {
                    @foreach (var comment in posting.Comments)
                    {
                        <p>Html.DisplayFor(model => comment.Author)</p>
                        <p>Html.DisplayFor(model => commnet.Date)</p>
                        <p>Html.DisplayFor(model => comment.Content)</p>
                    }
                }
                else
                {
                    <p>There are no Comments!</p>

                }

            }
        }
        else
        {
            <p>There are no postings for this Location!</p>
        }
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src=@Html.DisplayFor(model => model.Image)></div>
    <div class="caption center-align">
        <h3> @Html.DisplayFor(model => model.Name)</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
    </div>
</div>
