@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Traveling_Nerds.Models.Comment

<h2>Add a new comment</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.Hidden("@ViewBag.PostId")

    @Html.LabelFor(model => model.Author)
    @Html.EditorFor(model => model.Author)

    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)

    @Html.LabelFor(model => model.Content)
    @Html.EditorFor(model => model.Content)

    @*@Html.Hidden(Model.Date.Now)*@

    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to Location Details", "Details", "Location");


